graphics/rpg_graphics.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="urn:rpg"
            xmlns="urn:rpg"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

<!-- include chance_dice schema -->
<!--   <xsd:include schemaLocation="rpg_dice.xsd"/> -->
<!-- include common schema -->
<!--   <xsd:include schemaLocation="rpg_common.xsd"/> -->
<!-- include character schema -->
<!--  <xsd:include schemaLocation="rpg_character.xsd"/>-->
<!--   <xsd:import namespace="http://www.w3.org/2001/XMLSchema"/> -->
<!--   import chance_dice schema (as declared above) -->
<!--   <xsd:import namespace="urn:rpg_chance_dice" schemaLocation="../chance/dice/rpg_chance_dice.xsd"/> -->
<!--   import item schema (as declared above) -->
<!--   <xsd:import namespace="urn:rpg_item" schemaLocation="../item/rpg_item.xsd"/> -->

  <xsd:annotation>
    <xsd:documentation xml:lang="en">
      RPG_Graphics: graphics-related types XML schema
    </xsd:documentation>
  </xsd:annotation>

  <xsd:simpleType name="RPG_Graphics_Category_Type">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="CATEGORY_CURSOR"/>
      <xsd:enumeration value="CATEGORY_FONT"/>
      <xsd:enumeration value="CATEGORY_INTERFACE"/>
      <xsd:enumeration value="CATEGORY_IMAGE"/>
      <xsd:enumeration value="CATEGORY_SPRITE"/>
      <xsd:enumeration value="CATEGORY_TILE"/>
      <xsd:enumeration value="CATEGORY_TILESET"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="RPG_Graphics_Orientation_Type">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ORIENTATION_NORTH"/>
      <xsd:enumeration value="ORIENTATION_SOUTH"/>
      <xsd:enumeration value="ORIENTATION_WEST"/>
      <xsd:enumeration value="ORIENTATION_EAST"/>
      <xsd:enumeration value="ORIENTATION_HORIZONTAL"/>
      <xsd:enumeration value="ORIENTATION_VERTICAL"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="RPG_Graphics_TileType_Type">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="TILETYPE_DOOR"/>
      <xsd:enumeration value="TILETYPE_EDGE_FLOOR"/>
      <xsd:enumeration value="TILETYPE_EFFECT"/>
      <xsd:enumeration value="TILETYPE_FIGURINE"/>
      <xsd:enumeration value="TILETYPE_FLOOR"/>
      <xsd:enumeration value="TILETYPE_MONSTER"/>
      <xsd:enumeration value="TILETYPE_OBJECT"/>
      <xsd:enumeration value="TILETYPE_WALL"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="RPG_Graphics_FloorStyle_Type">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="FLOORSTYLE_AIR"/>
      <xsd:enumeration value="FLOORSTYLE_CARPET"/>
      <xsd:enumeration value="FLOORSTYLE_CERAMIC"/>
      <xsd:enumeration value="FLOORSTYLE_DARK"/>
      <xsd:enumeration value="FLOORSTYLE_ICE"/>
      <xsd:enumeration value="FLOORSTYLE_LAVA"/>
      <xsd:enumeration value="FLOORSTYLE_MARBLE"/>
      <xsd:enumeration value="FLOORSTYLE_MURAL"/>
      <xsd:enumeration value="FLOORSTYLE_MURAL2"/>
      <xsd:enumeration value="FLOORSTYLE_ROUGH"/>
      <xsd:enumeration value="FLOORSTYLE_ROUGH_LIT"/>
      <xsd:enumeration value="FLOORSTYLE_STONE_COBBLED"/>
      <xsd:enumeration value="FLOORSTYLE_STONE_MOSS_COVERED"/>
      <xsd:enumeration value="FLOORSTYLE_WATER"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="RPG_Graphics_StairsStyle_Type">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="STAIRSSTYLE_LADDER"/>
      <xsd:enumeration value="STAIRSSTYLE_STAIRWAY"/>
      <xsd:enumeration value="STAIRSSTYLE_PORTAL"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="RPG_Graphics_WallStyle_Type">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="WALLSTYLE_BRICK"/>
      <xsd:enumeration value="WALLSTYLE_BRICK_BANNER"/>
      <xsd:enumeration value="WALLSTYLE_BRICK_PAINTING"/>
      <xsd:enumeration value="WALLSTYLE_BRICK_PILLAR"/>
      <xsd:enumeration value="WALLSTYLE_BRICK_POCKET"/>
      <xsd:enumeration value="WALLSTYLE_DARK"/>
      <xsd:enumeration value="WALLSTYLE_LIGHT"/>
      <xsd:enumeration value="WALLSTYLE_MARBLE"/>
      <xsd:enumeration value="WALLSTYLE_ROUGH"/>
      <xsd:enumeration value="WALLSTYLE_STUCCO"/>
      <xsd:enumeration value="WALLSTYLE_VINE_COVERED"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="RPG_Graphics_EdgeStyle_Type">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="EDGESTYLE_FLOOR_STONE_COBBLED"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="RPG_Graphics_DoorStyle_Type">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="DOORSTYLE_DRAWBRIDGE"/>
      <xsd:enumeration value="DOORSTYLE_TELEPORTER"/>
      <xsd:enumeration value="DOORSTYLE_WOOD"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="RPG_Graphics_StyleUnion_Type">
    <xsd:union memberTypes="RPG_Graphics_FloorStyle_Type RPG_Graphics_StairsStyle_Type RPG_Graphics_WallStyle_Type RPG_Graphics_EdgeStyle_Type RPG_Graphics_DoorStyle_Type"/>
  </xsd:simpleType>

  <xsd:simpleType name="RPG_Graphics_Cursor_Type">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="CURSOR_DOOR_OPEN"/>
      <xsd:enumeration value="CURSOR_NORMAL"/>
      <xsd:enumeration value="CURSOR_SCROLL_D"/>
      <xsd:enumeration value="CURSOR_SCROLL_DL"/>
      <xsd:enumeration value="CURSOR_SCROLL_DR"/>
      <xsd:enumeration value="CURSOR_SCROLL_L"/>
      <xsd:enumeration value="CURSOR_SCROLL_R"/>
      <xsd:enumeration value="CURSOR_SCROLL_U"/>
      <xsd:enumeration value="CURSOR_SCROLL_UL"/>
      <xsd:enumeration value="CURSOR_SCROLL_UR"/>
      <xsd:enumeration value="CURSOR_STAIRS"/>
      <xsd:enumeration value="CURSOR_WAIT"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="RPG_Graphics_Font_Type">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="FONT_MAIN_SMALL"/>
      <xsd:enumeration value="FONT_MAIN_NORMAL"/>
      <xsd:enumeration value="FONT_MAIN_LARGE"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="RPG_Graphics_Image_Type">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="IMAGE_INTERFACE"/>
      <xsd:enumeration value="IMAGE_INTRO_MAIN"/>
      <xsd:enumeration value="IMAGE_WM_ICON"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="RPG_Graphics_Sprite_Type">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="SPRITE_GOBLIN"/>
      <xsd:enumeration value="SPRITE_PRIEST"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="RPG_Graphics_TileGraphic_Type">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="TILE_CEILING"/>
      <xsd:enumeration value="TILE_CURSOR_HIGHLIGHT"/>
      <xsd:enumeration value="TILE_FLOOR_INVISIBLE"/>
      <xsd:enumeration value="TILE_OFF_MAP"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="RPG_Graphics_TileSetGraphic_Type">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="TILESET_DOOR_WOOD"/>
      <xsd:enumeration value="TILESET_FLOOR_AIR"/>
      <xsd:enumeration value="TILESET_FLOOR_CARPET"/>
      <xsd:enumeration value="TILESET_FLOOR_CERAMIC"/>
      <xsd:enumeration value="TILESET_FLOOR_DARK"/>
      <xsd:enumeration value="TILESET_FLOOR_ICE"/>
      <xsd:enumeration value="TILESET_FLOOR_LAVA"/>
      <xsd:enumeration value="TILESET_FLOOR_MARBLE"/>
      <xsd:enumeration value="TILESET_FLOOR_MURAL"/>
      <xsd:enumeration value="TILESET_FLOOR_MURAL2"/>
      <xsd:enumeration value="TILESET_FLOOR_ROUGH"/>
      <xsd:enumeration value="TILESET_FLOOR_ROUGH_LIT"/>
      <xsd:enumeration value="TILESET_FLOOR_STONE_COBBLED"/>
      <xsd:enumeration value="TILESET_FLOOR_STONE_MOSS_COVERED"/>
      <xsd:enumeration value="TILESET_FLOOR_WATER"/>
      <xsd:enumeration value="TILESET_EDGE_FLOOR_STONE_COBBLED"/>
      <xsd:enumeration value="TILESET_WALL_BRICK"/>
      <xsd:enumeration value="TILESET_WALL_BRICK_HALF"/>
      <xsd:enumeration value="TILESET_WALL_BRICK_BANNER"/>
      <xsd:enumeration value="TILESET_WALL_BRICK_BANNER_HALF"/>
      <xsd:enumeration value="TILESET_WALL_BRICK_PAINTING"/>
      <xsd:enumeration value="TILESET_WALL_BRICK_PAINTING_HALF"/>
      <xsd:enumeration value="TILESET_WALL_BRICK_PILLAR"/>
      <xsd:enumeration value="TILESET_WALL_BRICK_PILLAR_HALF"/>
      <xsd:enumeration value="TILESET_WALL_BRICK_POCKET"/>
      <xsd:enumeration value="TILESET_WALL_BRICK_POCKET_HALF"/>
      <xsd:enumeration value="TILESET_WALL_DARK"/>
      <xsd:enumeration value="TILESET_WALL_DARK_HALF"/>
      <xsd:enumeration value="TILESET_WALL_LIGHT"/>
      <xsd:enumeration value="TILESET_WALL_LIGHT_HALF"/>
      <xsd:enumeration value="TILESET_WALL_MARBLE"/>
      <xsd:enumeration value="TILESET_WALL_MARBLE_HALF"/>
      <xsd:enumeration value="TILESET_WALL_ROUGH"/>
      <xsd:enumeration value="TILESET_WALL_ROUGH_HALF"/>
      <xsd:enumeration value="TILESET_WALL_STUCCO"/>
      <xsd:enumeration value="TILESET_WALL_STUCCO_HALF"/>
      <xsd:enumeration value="TILESET_WALL_VINE_COVERED"/>
      <xsd:enumeration value="TILESET_WALL_VINE_COVERED_HALF"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="RPG_Graphics_GraphicTypeUnion_Type">
    <xsd:union memberTypes="RPG_Graphics_Cursor_Type RPG_Graphics_Font_Type RPG_Graphics_Image_Type RPG_Graphics_Sprite_Type RPG_Graphics_TileGraphic_Type RPG_Graphics_TileSetGraphic_Type"/>
  </xsd:simpleType>

  <xsd:simpleType name="RPG_Graphics_InterfaceElementType_Type">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="INTERFACEELEMENT_BORDER_TOP_LEFT"/>
      <xsd:enumeration value="INTERFACEELEMENT_BORDER_TOP_RIGHT"/>
      <xsd:enumeration value="INTERFACEELEMENT_BORDER_BOTTOM_LEFT"/>
      <xsd:enumeration value="INTERFACEELEMENT_BORDER_BOTTOM_RIGHT"/>
      <xsd:enumeration value="INTERFACEELEMENT_BORDER_TOP"/>
      <xsd:enumeration value="INTERFACEELEMENT_BORDER_RIGHT"/>
      <xsd:enumeration value="INTERFACEELEMENT_BORDER_LEFT"/>
      <xsd:enumeration value="INTERFACEELEMENT_BORDER_BOTTOM"/>
      <xsd:enumeration value="INTERFACEELEMENT_BORDER_CENTER"/>
      <xsd:enumeration value="INTERFACEELEMENT_BACKGROUND"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="RPG_Graphics_HotspotType_Type">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="HOTSPOT_ABSOLUTE"/>
      <xsd:enumeration value="HOTSPOT_RELATIVE"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="RPG_Graphics_ElementTypeUnion_Type">
    <xsd:union memberTypes="RPG_Graphics_InterfaceElementType_Type RPG_Graphics_HotspotType_Type"/>
  </xsd:simpleType>

  <xsd:complexType name="RPG_Graphics_Element_Type">
    <xsd:sequence>
      <xsd:element name="type" type="RPG_Graphics_ElementTypeUnion_Type" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="offsetX" type="xsd:unsignedInt" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="offsetY" type="xsd:unsignedInt" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="width" type="xsd:unsignedInt" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="height" type="xsd:unsignedInt" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="RPG_Graphics_Tile_Type">
    <xsd:sequence>
      <xsd:element name="type" type="RPG_Graphics_TileType_Type" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="reference" type="RPG_Graphics_GraphicTypeUnion_Type" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="style" type="RPG_Graphics_StyleUnion_Type" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="orientation" type="RPG_Graphics_Orientation_Type" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="file" type="xsd:string" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
    <xsd:attribute name="offsetX" type="xsd:integer" use="optional" default="0"/>
    <xsd:attribute name="offsetY" type="xsd:integer" use="optional" default="0"/>
    <xsd:attribute name="open" type="xsd:boolean" use="optional" default="false"/>
    <xsd:attribute name="broken" type="xsd:boolean" use="optional" default="false"/>
  </xsd:complexType>

  <xsd:simpleType name="RPG_Graphics_TileSetType_Type">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="TILESETTYPE_DOOR"/>
      <xsd:enumeration value="TILESETTYPE_EDGE_FLOOR"/>
      <xsd:enumeration value="TILESETTYPE_FLOOR"/>
      <xsd:enumeration value="TILESETTYPE_WALL"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="RPG_Graphics_TileSet_Type">
    <xsd:sequence>
      <xsd:element name="type" type="RPG_Graphics_TileSetType_Type" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="style" type="RPG_Graphics_StyleUnion_Type" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="tile" type="RPG_Graphics_Tile_Type" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="half" type="xsd:boolean" use="optional" default="false"/>
  </xsd:complexType>

  <xsd:complexType name="RPG_Graphics_Graphic_Type">
    <xsd:sequence>
      <xsd:element name="category" type="RPG_Graphics_Category_Type" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="type" type="RPG_Graphics_GraphicTypeUnion_Type" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="tile" type="RPG_Graphics_Tile_Type" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="tileset" type="RPG_Graphics_TileSet_Type" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="element" type="RPG_Graphics_Element_Type" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="file" type="xsd:string" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
    <xsd:attribute name="size" type="xsd:unsignedInt" use="optional" default="0"/>
  </xsd:complexType>

  <xsd:complexType name="RPG_Graphics_Dictionary_Type" id="skip0">
    <xsd:sequence>
      <xsd:element name="graphic" type="RPG_Graphics_Graphic_Type" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- xml instance document(s) will contain a dictionary of available graphics -->
  <xsd:element name="graphicsDictionary" type="RPG_Graphics_Dictionary_Type"/>

</xsd:schema>
