engine/rpg_engine.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="urn:rpg"
            xmlns="urn:rpg"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

<!-- include chance_dice schema -->
<!--   <xsd:include schemaLocation="rpg_dice.xsd"/> -->
<!-- include common schema -->
<!--   <xsd:include schemaLocation="rpg_common.xsd"/> -->
<!-- include character player schema -->
  <xsd:include schemaLocation="rpg_character_player.xsd"/>
<!-- include graphics schema -->
  <xsd:include schemaLocation="rpg_graphics.xsd"/>
<!--   <xsd:import namespace="http://www.w3.org/2001/XMLSchema"/> -->
<!--   import chance_dice schema (as declared above) -->
<!--   <xsd:import namespace="urn:rpg_chance_dice" schemaLocation="../chance/dice/rpg_chance_dice.xsd"/> -->
<!--   import item schema (as declared above) -->
<!--   <xsd:import namespace="urn:rpg_item" schemaLocation="../item/rpg_item.xsd"/> -->

  <xsd:annotation>
    <xsd:documentation xml:lang="en">
      RPG_Engine: engine-related types XML schema
    </xsd:documentation>
  </xsd:annotation>

  <xsd:complexType name="RPG_Engine_Player_Type">
    <xsd:complexContent>
      <xsd:extension base="RPG_Character_PlayerXML_Type">
        <xsd:sequence>
          <xsd:element name="sprite" type="RPG_Graphics_Sprite_Type" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- substitution group root -->
  <xsd:element name="engine_player" type="RPG_Engine_Player_Type"/>

</xsd:schema>
