character/monster/rpg_monster.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="urn:rpg"
            xmlns="urn:rpg"
            elementFormDefault="qualified"
            attributeFormDefault="qualified">

  <!-- include chance_dice schema -->
  <xsd:include schemaLocation="rpg_dice.xsd"/>
  <!-- include character schema -->
  <xsd:include schemaLocation="rpg_character.xsd"/>
  <!-- include combat schema -->
  <xsd:include schemaLocation="rpg_combat.xsd"/>
<!--   <xsd:import namespace="http://www.w3.org/2001/XMLSchema"/> -->
<!--   import chance_dice schema (as declared above) -->
<!--   <xsd:import namespace="urn:rpg_chance_dice" schemaLocation="../chance/dice/rpg_chance_dice.xsd"/> -->
<!--   import item schema (as declared above) -->
<!--   <xsd:import namespace="urn:rpg_item" schemaLocation="../item/rpg_item.xsd"/> -->

  <xsd:annotation>
    <xsd:documentation xml:lang="en">
      RPG_Character: monster-related types XML schema
    </xsd:documentation>
  </xsd:annotation>

  <!-- xml instance document(s) will contain a dictionary of different types of monsters -->
  <xsd:simpleType name="RPG_Monster_MetaType_Type">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="METATYPE_ABERRATION"/>
      <xsd:enumeration value="METATYPE_ANIMAL"/>
      <xsd:enumeration value="METATYPE_CONSTRUCT"/>
      <xsd:enumeration value="METATYPE_DRAGON"/>
      <xsd:enumeration value="METATYPE_ELEMENTAL"/>
      <xsd:enumeration value="METATYPE_FEY"/>
      <xsd:enumeration value="METATYPE_GIANT"/>
      <xsd:enumeration value="METATYPE_HUMANOID"/>
      <xsd:enumeration value="METATYPE_MAGICAL_BEAST"/>
      <xsd:enumeration value="METATYPE_MONSTROUS_HUMANOID"/>
      <xsd:enumeration value="METATYPE_OOZE"/>
      <xsd:enumeration value="METATYPE_OUTSIDER"/>
      <xsd:enumeration value="METATYPE_PLANT"/>
      <xsd:enumeration value="METATYPE_UNDEAD"/>
      <xsd:enumeration value="METATYPE_VERMIN"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="RPG_Monster_SubType_Type">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="SUBTYPE_AIR"/>
      <xsd:enumeration value="SUBTYPE_ANGEL"/>
      <xsd:enumeration value="SUBTYPE_AQUATIC"/>
      <xsd:enumeration value="SUBTYPE_ARCHON"/>
      <xsd:enumeration value="SUBTYPE_AUGMENTED"/>
      <xsd:enumeration value="SUBTYPE_CHAOTIC"/>
      <xsd:enumeration value="SUBTYPE_COLD"/>
      <xsd:enumeration value="SUBTYPE_EARTH"/>
      <xsd:enumeration value="SUBTYPE_EVIL"/>
      <xsd:enumeration value="SUBTYPE_EXTRAPLANAR"/>
      <xsd:enumeration value="SUBTYPE_FIRE"/>
      <xsd:enumeration value="SUBTYPE_GOBLINOID"/>
      <xsd:enumeration value="SUBTYPE_GOOD"/>
      <xsd:enumeration value="SUBTYPE_INCORPOREAL"/>
      <xsd:enumeration value="SUBTYPE_LAWFUL"/>
      <xsd:enumeration value="SUBTYPE_NATIVE"/>
      <xsd:enumeration value="SUBTYPE_REPTILIAN"/>
      <xsd:enumeration value="SUBTYPE_SHAPECHANGER"/>
      <xsd:enumeration value="SUBTYPE_SWARM"/>
      <xsd:enumeration value="SUBTYPE_WATER"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="RPG_Monster_Type_Type">
    <xsd:sequence>
      <xsd:element name="metaType" type="RPG_Monster_MetaType_Type" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="subType" type="RPG_Monster_SubType_Type" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="RPG_Monster_NaturalArmorClass_Type">
    <xsd:sequence>
      <xsd:element name="normal" type="xsd:byte" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="touch" type="xsd:byte" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="flatFooted" type="xsd:byte" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="RPG_Monster_NaturalWeapon_Type">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="INCORPOREAL_TOUCH"/>
      <xsd:enumeration value="NATURALWEAPON_BITE"/>
      <xsd:enumeration value="NATURALWEAPON_CLAW_TALON"/>
      <xsd:enumeration value="NATURALWEAPON_GORE"/>
      <xsd:enumeration value="NATURALWEAPON_SLAP_SLAM"/>
      <xsd:enumeration value="NATURALWEAPON_STING"/>
      <xsd:enumeration value="NATURALWEAPON_TENTACLE"/>
      <xsd:enumeration value="NATURALWEAPON_SPIT_ACID"/>
      <xsd:enumeration value="NATURALWEAPON_WEB"/>
      <xsd:enumeration value="NATURALWEAPON_ROCK_STONE"/>
      <xsd:enumeration value="STANDARDWEAPON_BLUDGEONING"/>
      <xsd:enumeration value="STANDARDWEAPON_PIERCING"/>
      <xsd:enumeration value="STANDARDWEAPON_SLASHING"/>
      <xsd:enumeration value="RAY_ELECTRICITY"/>
      <xsd:enumeration value="RAY_LIGHT"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="RPG_Monster_AttackAction_Type">
    <xsd:sequence>
      <xsd:element name="monsterWeapon" type="RPG_Monster_NaturalWeapon_Type" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="attackBonus" type="xsd:byte" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="attackForm" type="RPG_Combat_AttackForm_Type" minOccurs="1" maxOccurs="unbounded"/>
<!--      <xsd:element name="damage" type="rpg_chance_dice:RPG_Chance_DiceRoll_Type" minOccurs="1" maxOccurs="1"/>-->
      <xsd:element name="physicalDamage" type="RPG_Dice_Roll_Type" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="numAttacksPerRound" type="xsd:unsignedByte" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="RPG_Monster_Attack_Type">
    <xsd:sequence>
      <xsd:element name="baseAttackBonus" type="xsd:byte" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="grappleBonus" type="xsd:byte" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="standardAttackAction" type="RPG_Monster_AttackAction_Type" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="fullAttackAction" type="RPG_Monster_AttackAction_Type" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="RPG_Monster_SavingThrowModifiers_Type">
    <xsd:sequence>
      <xsd:element name="fortitude" type="xsd:byte" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="reflex" type="xsd:byte" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="will" type="xsd:byte" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="RPG_Monster_Organization_Type">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ORGANIZATION_SOLITARY"/>
      <xsd:enumeration value="ORGANIZATION_PAIR"/>
      <xsd:enumeration value="ORGANIZATION_BROOD"/>
      <xsd:enumeration value="ORGANIZATION_CLUSTER"/>
      <xsd:enumeration value="ORGANIZATION_CLUTCH"/>
      <xsd:enumeration value="ORGANIZATION_PATCH"/>
      <xsd:enumeration value="ORGANIZATION_GANG"/>
      <xsd:enumeration value="ORGANIZATION_TEAM"/>
      <xsd:enumeration value="ORGANIZATION_SQUAD"/>
      <xsd:enumeration value="ORGANIZATION_GROUP"/>
      <xsd:enumeration value="ORGANIZATION_PACK"/>
      <xsd:enumeration value="ORGANIZATION_COLONY"/>
      <xsd:enumeration value="ORGANIZATION_FLOCK"/>
      <xsd:enumeration value="ORGANIZATION_TRIBE"/>
<!--      <xsd:enumeration value="ORGANIZATION_SLAVER"/>-->
      <xsd:enumeration value="ORGANIZATION_BAND"/>
      <xsd:enumeration value="ORGANIZATION_CLAN"/>
      <xsd:enumeration value="ORGANIZATION_ANY"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="RPG_Monster_OrganizationSlaverStep_Type">
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <!--       <xsd:element name="range" type="rpg_chance_dice:RPG_Chance_ValueRange_Type" minOccurs="1" maxOccurs="1"/> -->
      <xsd:element name="range" type="RPG_Dice_ValueRange_Type" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="RPG_Monster_OrganizationStep_Type">
    <xsd:sequence>
      <xsd:element name="type" type="RPG_Monster_Organization_Type" minOccurs="1" maxOccurs="1"/>
      <!--       <xsd:element name="range" type="rpg_chance_dice:RPG_Chance_ValueRange_Type" minOccurs="1" maxOccurs="1"/> -->
      <xsd:element name="range" type="RPG_Dice_ValueRange_Type" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="slaves" type="RPG_Monster_OrganizationSlaverStep_Type" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="RPG_Monster_Organizations_Type">
    <xsd:sequence>
      <xsd:element name="step" type="RPG_Monster_OrganizationStep_Type" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="RPG_Monster_AdvancementStep_Type">
    <xsd:sequence>
      <xsd:element name="size" type="RPG_Character_Size_Type" minOccurs="1" maxOccurs="1"/>
<!--       <xsd:element name="range" type="rpg_chance_dice:RPG_Chance_ValueRange_Type" minOccurs="1" maxOccurs="1"/> -->
      <xsd:element name="range" type="RPG_Dice_ValueRange_Type" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="RPG_Monster_Advancement_Type">
    <xsd:sequence>
      <xsd:element name="step" type="RPG_Monster_AdvancementStep_Type" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="RPG_Monster_PropertiesXML_Type">
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="size" type="RPG_Character_Size_Type" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="type" type="RPG_Monster_Type_Type" minOccurs="1" maxOccurs="1"/>
<!--       <xsd:element name="hitDice" type="rpg_chance_dice:RPG_Chance_DiceRoll_Type" minOccurs="1" maxOccurs="1"/> -->
      <xsd:element name="hitDice" type="RPG_Dice_Roll_Type" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="initiative" type="xsd:byte" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="speed" type="xsd:unsignedByte" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="armorClass" type="RPG_Monster_NaturalArmorClass_Type" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="attack" type="RPG_Monster_Attack_Type" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="space" type="xsd:unsignedByte" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="reach" type="xsd:unsignedByte" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="saves" type="RPG_Monster_SavingThrowModifiers_Type" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="attributes" type="RPG_Character_Attributes_Type" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="skills" type="RPG_Character_Skills_Type" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="feats" type="RPG_Character_Feats_Type" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="environment" type="RPG_Character_Environment_Type" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="organizations" type="RPG_Monster_Organizations_Type" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="challengeRating" type="xsd:unsignedByte" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="treasureModifier" type="xsd:unsignedByte" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="alignment" type="RPG_Character_Alignment_Type" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="advancements" type="RPG_Monster_Advancement_Type" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="levelAdjustment" type="xsd:unsignedByte" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="RPG_Monster_Dictionary_Type" id="skip0">
    <xsd:sequence>
      <xsd:element name="monster" type="RPG_Monster_PropertiesXML_Type" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- xml instance document(s) will contain a dictionary of different types of monsters -->
  <xsd:element name="monsterDictionary" type="RPG_Monster_Dictionary_Type"/>

</xsd:schema>
