magic/rpg_magic.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="urn:rpg"
            xmlns="urn:rpg"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

  <!-- include chance_dice schema -->
  <xsd:include schemaLocation="rpg_dice.xsd"/>
  <!-- include common schema -->
  <xsd:include schemaLocation="rpg_common.xsd"/>
<!-- include character schema -->
<!--  <xsd:include schemaLocation="rpg_character.xsd"/>-->
<!--   <xsd:import namespace="http://www.w3.org/2001/XMLSchema"/> -->
<!--   import chance_dice schema (as declared above) -->
<!--   <xsd:import namespace="urn:rpg_chance_dice" schemaLocation="../chance/dice/rpg_chance_dice.xsd"/> -->
<!--   import item schema (as declared above) -->
<!--   <xsd:import namespace="urn:rpg_item" schemaLocation="../item/rpg_item.xsd"/> -->

  <xsd:annotation>
    <xsd:documentation xml:lang="en">
      RPG_Magic: magic-related types XML schema
    </xsd:documentation>
  </xsd:annotation>

  <xsd:simpleType name="RPG_Magic_School_Type">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="SCHOOL_NONE"/>
      <xsd:enumeration value="SCHOOL_ABJURATION"/>
      <xsd:enumeration value="SCHOOL_CONJURATION"/>
      <xsd:enumeration value="SCHOOL_DIVINATION"/>
      <xsd:enumeration value="SCHOOL_ENCHANTMENT"/>
      <xsd:enumeration value="SCHOOL_EVOCATION"/>
      <xsd:enumeration value="SCHOOL_ILLUSION"/>
      <xsd:enumeration value="SCHOOL_NECROMANCY"/>
      <xsd:enumeration value="SCHOOL_TRANSMUTATION"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="RPG_Magic_SubSchool_Type">
    <xsd:restriction base="xsd:string">
      <!-- SCHOOL_CONJURATION -->
      <xsd:enumeration value="SUBSCHOOL_SUMMONING"/>
      <xsd:enumeration value="SUBSCHOOL_CALLING"/>
      <xsd:enumeration value="SUBSCHOOL_HEALING"/>
      <xsd:enumeration value="SUBSCHOOL_TELEPORTATION"/>
      <xsd:enumeration value="SUBSCHOOL_CREATION"/>
      <!-- SCHOOL_DIVINATION -->
      <xsd:enumeration value="SUBSCHOOL_SCRYING"/>
      <!-- SCHOOL_ENCHANTMENT -->
      <xsd:enumeration value="SUBSCHOOL_CHARM"/>
      <xsd:enumeration value="SUBSCHOOL_COMPULSION"/>
      <!-- SCHOOL_ILLUSION -->
      <xsd:enumeration value="SUBSCHOOL_FIGMENT"/>
      <xsd:enumeration value="SUBSCHOOL_GLAMER"/>
      <xsd:enumeration value="SUBSCHOOL_PATTERN"/>
      <xsd:enumeration value="SUBSCHOOL_PHANTASM"/>
      <xsd:enumeration value="SUBSCHOOL_SHADOW"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="RPG_Magic_Descriptor_Type">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="DESCRIPTOR_ACID"/>
      <xsd:enumeration value="DESCRIPTOR_AIR"/>
      <xsd:enumeration value="DESCRIPTOR_CHAOTIC"/>
      <xsd:enumeration value="DESCRIPTOR_COLD"/>
      <xsd:enumeration value="DESCRIPTOR_DARKNESS"/>
      <xsd:enumeration value="DESCRIPTOR_DEATH"/>
      <xsd:enumeration value="DESCRIPTOR_EARTH"/>
      <xsd:enumeration value="DESCRIPTOR_ELECTRICITY"/>
      <xsd:enumeration value="DESCRIPTOR_EVIL"/>
      <xsd:enumeration value="DESCRIPTOR_FEAR"/>
      <xsd:enumeration value="DESCRIPTOR_FIRE"/>
      <xsd:enumeration value="DESCRIPTOR_FORCE"/>
      <xsd:enumeration value="DESCRIPTOR_GOOD"/>
      <xsd:enumeration value="DESCRIPTOR_LANGUAGE_DEPENDENT"/>
      <xsd:enumeration value="DESCRIPTOR_LAWFUL"/>
      <xsd:enumeration value="DESCRIPTOR_LIGHT"/>
      <xsd:enumeration value="DESCRIPTOR_MIND_AFFECTING"/>
      <xsd:enumeration value="DESCRIPTOR_SONIC"/>
      <xsd:enumeration value="DESCRIPTOR_WATER"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="RPG_Magic_Domain_Type">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="DOMAIN_NONE"/>
      <xsd:enumeration value="DOMAIN_AIR"/>
      <xsd:enumeration value="DOMAIN_ANIMAL"/>
      <xsd:enumeration value="DOMAIN_CHAOS"/>
      <xsd:enumeration value="DOMAIN_DEATH"/>
      <xsd:enumeration value="DOMAIN_DESTRUCTION"/>
      <xsd:enumeration value="DOMAIN_EARTH"/>
      <xsd:enumeration value="DOMAIN_EVIL"/>
      <xsd:enumeration value="DOMAIN_FIRE"/>
      <xsd:enumeration value="DOMAIN_GOOD"/>
      <xsd:enumeration value="DOMAIN_HEALING"/>
      <xsd:enumeration value="DOMAIN_KNOWLEDGE"/>
      <xsd:enumeration value="DOMAIN_LAW"/>
      <xsd:enumeration value="DOMAIN_LUCK"/>
      <xsd:enumeration value="DOMAIN_MAGIC"/>
      <xsd:enumeration value="DOMAIN_PLANT"/>
      <xsd:enumeration value="DOMAIN_PROTECTION"/>
      <xsd:enumeration value="DOMAIN_STRENGTH"/>
      <xsd:enumeration value="DOMAIN_SUN"/>
      <xsd:enumeration value="DOMAIN_TRAVEL"/>
      <xsd:enumeration value="DOMAIN_TRICKERY"/>
      <xsd:enumeration value="DOMAIN_WAR"/>
      <xsd:enumeration value="DOMAIN_WATER"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="RPG_Magic_SpellType_Type">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="SPELL_NONE"/>
      <!--                                    -->
      <xsd:enumeration value="SPELL_ACID_ARROW"/>
      <xsd:enumeration value="SPELL_ACID_FOG"/>
      <xsd:enumeration value="SPELL_ACID_SPLASH"/>
      <xsd:enumeration value="SPELL_AID"/>
      <xsd:enumeration value="SPELL_AIR_WALK"/>
      <xsd:enumeration value="SPELL_ALARM"/>
      <xsd:enumeration value="SPELL_ALIGN_WEAPON"/>
      <xsd:enumeration value="SPELL_ALTER_SELF"/>
      <xsd:enumeration value="SPELL_ANALYZE_DWEOMER"/>
      <xsd:enumeration value="SPELL_ANIMAL_GROWTH"/>
      <xsd:enumeration value="SPELL_ANIMAL_MESSENGER"/>
      <xsd:enumeration value="SPELL_ANIMAL_SHAPES"/>
      <xsd:enumeration value="SPELL_ANIMAL_TRANCE"/>
      <xsd:enumeration value="SPELL_ANIMATE_DEAD"/>
      <xsd:enumeration value="SPELL_ANIMATE_OBJECTS"/>
      <xsd:enumeration value="SPELL_ANIMATE_PLANTS"/>
      <xsd:enumeration value="SPELL_ANIMATE_ROPE"/>
      <xsd:enumeration value="SPELL_ANTILIFE_SHELL"/>
      <xsd:enumeration value="SPELL_ANTIMAGIC_FIELD"/>
      <xsd:enumeration value="SPELL_ANTIPATHY"/>
      <xsd:enumeration value="SPELL_ANTIPLANT_SHELL"/>
      <xsd:enumeration value="SPELL_ARCANE_EYE"/>
      <xsd:enumeration value="SPELL_ARCANE_LOCK"/>
      <xsd:enumeration value="SPELL_ARCANE_MARK"/>
      <xsd:enumeration value="SPELL_ARCANE_SIGHT"/>
      <xsd:enumeration value="SPELL_ARCANE_SIGHT_GREATER"/>
      <xsd:enumeration value="SPELL_ASTRAL_PROJECTION"/>
      <xsd:enumeration value="SPELL_ATONEMENT"/>
      <xsd:enumeration value="SPELL_AUGURY"/>
      <xsd:enumeration value="SPELL_AWAKEN"/>
      <xsd:enumeration value="SPELL_BALEFUL_POLYMORPH"/>
      <xsd:enumeration value="SPELL_BANE"/>
      <xsd:enumeration value="SPELL_BLADE_BARRIER"/>
      <xsd:enumeration value="SPELL_BLASPHEMY"/>
      <xsd:enumeration value="SPELL_BLESS"/>
      <xsd:enumeration value="SPELL_BLINK"/>
      <xsd:enumeration value="SPELL_CALL_LIGHTNING"/>
      <xsd:enumeration value="SPELL_CANTRIP"/>
      <xsd:enumeration value="SPELL_CHAOS_HAMMER"/>
      <xsd:enumeration value="SPELL_CHARM_MONSTER"/>
      <xsd:enumeration value="SPELL_COMMUNE"/>
      <xsd:enumeration value="SPELL_CONFUSION"/>
      <xsd:enumeration value="SPELL_DARKNESS"/>
      <xsd:enumeration value="SPELL_DELAY_POISON"/>
      <xsd:enumeration value="SPELL_DETECT_CHAOS"/>
      <xsd:enumeration value="SPELL_DETECT_EVIL"/>
      <xsd:enumeration value="SPELL_DETECT_GOOD"/>
      <xsd:enumeration value="SPELL_DETECT_LAW"/>
      <xsd:enumeration value="SPELL_DETECT_MAGIC"/>
      <xsd:enumeration value="SPELL_DETECT_THOUGHTS"/>
      <xsd:enumeration value="SPELL_DIMENSION_DOOR"/>
      <xsd:enumeration value="SPELL_DISCERN_LOCATION"/>
      <xsd:enumeration value="SPELL_DISPEL_MAGIC"/>
      <xsd:enumeration value="SPELL_DISPEL_MAGIC_GREATER"/>
      <xsd:enumeration value="SPELL_DOMINATE_MONSTER"/>
      <xsd:enumeration value="SPELL_ENTANGLE"/>
      <xsd:enumeration value="SPELL_ETHEREAL_JAUNT"/>
      <xsd:enumeration value="SPELL_FEAR"/>
      <xsd:enumeration value="SPELL_FEEBLEMIND"/>
      <xsd:enumeration value="SPELL_FIRE_STORM"/>
      <xsd:enumeration value="SPELL_GASEOUS_FORM"/>
      <xsd:enumeration value="SPELL_HEAL"/>
      <xsd:enumeration value="SPELL_HEAL_MASS"/>
      <xsd:enumeration value="SPELL_HEROISM"/>
      <xsd:enumeration value="SPELL_HOLD_MONSTER"/>
      <xsd:enumeration value="SPELL_IMPLOSION"/>
      <xsd:enumeration value="SPELL_INSANITY"/>
      <xsd:enumeration value="SPELL_INVISIBILITY"/>
      <xsd:enumeration value="SPELL_MAGIC_WEAPON"/>
      <xsd:enumeration value="SPELL_MIRROR_IMAGE"/>
      <xsd:enumeration value="SPELL_NEUTRALIZE_POISON"/>
      <xsd:enumeration value="SPELL_PLANE_SHIFT"/>
      <xsd:enumeration value="SPELL_POLYMORPH"/>
      <xsd:enumeration value="SPELL_POWER_WORD_STUN"/>
      <xsd:enumeration value="SPELL_PROJECT_IMAGE"/>
      <xsd:enumeration value="SPELL_REMOVE_DISEASE"/>
      <xsd:enumeration value="SPELL_RESTORATION"/>
      <xsd:enumeration value="SPELL_RESTORATION_GREATER"/>
      <xsd:enumeration value="SPELL_REVERSE_GRAVITY"/>
      <xsd:enumeration value="SPELL_SCARE"/>
      <xsd:enumeration value="SPELL_SEE_INVISIBILITY"/>
      <xsd:enumeration value="SPELL_SILENT_IMAGE"/>
      <xsd:enumeration value="SPELL_SLOW"/>
      <xsd:enumeration value="SPELL_STINKING_CLOUD"/>
      <xsd:enumeration value="SPELL_STONE_SHAPE"/>
      <xsd:enumeration value="SPELL_SUGGESTION"/>
      <xsd:enumeration value="SPELL_SUMMON_MONSTER_I"/>
      <xsd:enumeration value="SPELL_SUMMON_MONSTER_III"/>
      <xsd:enumeration value="SPELL_SUMMON_MONSTER_IV"/>
      <xsd:enumeration value="SPELL_SUMMON_MONSTER_V"/>
      <xsd:enumeration value="SPELL_SUMMON_MONSTER_IX"/>
      <xsd:enumeration value="SPELL_TELEKINESIS"/>
      <xsd:enumeration value="SPELL_TELEPATHY"/>
      <xsd:enumeration value="SPELL_TELEPORT_GREATER"/>
      <xsd:enumeration value="SPELL_TONGUES"/>
      <xsd:enumeration value="SPELL_TRUE_SEEING"/>
      <xsd:enumeration value="SPELL_UNHOLY_AURA"/>
      <xsd:enumeration value="SPELL_UNHOLY_BLIGHT"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="RPG_Magic_AbilityClass_Type">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ABILITYCLASS_EXTRAORDINARY"/>
      <xsd:enumeration value="ABILITYCLASS_SPELLLIKE"/>
      <xsd:enumeration value="ABILITYCLASS_SUPERNATURAL"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="RPG_Magic_AbilityType_Type">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ABILITYTYPE_SMITE"/>
      <xsd:enumeration value="ABILITYTYPE_SMOKE_CLAWS"/>
      <xsd:enumeration value="ABILITYTYPE_WHIRLWIND_BLAST"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="RPG_Magic_Spell_Type_Type">
    <xsd:sequence>
      <xsd:element name="type" type="RPG_Magic_SpellType_Type" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="school" type="RPG_Magic_School_Type" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="subSchool" type="RPG_Magic_SubSchool_Type" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="descriptor" type="RPG_Magic_Descriptor_Type" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="counterSpell" type="RPG_Magic_SpellType_Type" use="optional" default="SPELL_NONE"/>
  </xsd:complexType>

  <xsd:simpleType name="RPG_Magic_CasterClassUnion_Type">
    <xsd:union memberTypes="RPG_Common_SubClass_Type RPG_Magic_Domain_Type"/>
  </xsd:simpleType>

  <xsd:complexType name="RPG_Magic_Spell_Level_Type">
    <xsd:sequence>
      <xsd:element name="casterClass" type="RPG_Magic_CasterClassUnion_Type" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="level" type="xsd:unsignedByte" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="RPG_Magic_Spell_CastingTime_Type">
    <xsd:sequence>
      <xsd:element name="rounds" type="xsd:unsignedInt" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
    <xsd:attribute name="action" type="RPG_Common_ActionType_Type" use="optional" default="ACTION_STANDARD"/>
  </xsd:complexType>

  <xsd:simpleType name="RPG_Magic_Spell_RangeEffect_Type">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="RANGEEFFECT_PERSONAL"/>
      <xsd:enumeration value="RANGEEFFECT_TOUCH"/>
      <xsd:enumeration value="RANGEEFFECT_CLOSE"/>
      <xsd:enumeration value="RANGEEFFECT_MEDIUM"/>
      <xsd:enumeration value="RANGEEFFECT_LONG"/>
      <xsd:enumeration value="RANGEEFFECT_UNLIMITED"/>
      <xsd:enumeration value="RANGEEFFECT_RANGED"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="RPG_Magic_Spell_RangeProperties_Type">
    <xsd:sequence>
      <xsd:element name="max" type="xsd:unsignedInt" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="increment" type="xsd:unsignedInt" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
    <xsd:attribute name="effect" type="RPG_Magic_Spell_RangeEffect_Type" use="optional" default="RANGEEFFECT_PERSONAL"/>
  </xsd:complexType>

  <xsd:simpleType name="RPG_Magic_Spell_Target_Type">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="TARGET_SELF"/>
      <xsd:enumeration value="TARGET_FIX"/>
      <xsd:enumeration value="TARGET_VARIABLE"/>
      <xsd:enumeration value="TARGET_LOCATION"/>
      <xsd:enumeration value="TARGET_AREA"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="RPG_Magic_Spell_TargetProperties_Type">
    <xsd:sequence>
      <xsd:element name="type" type="RPG_Magic_Spell_Target_Type" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="value" type="xsd:unsignedInt" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="range" type="RPG_Dice_Roll_Type" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="levelIncrement" type="xsd:unsignedByte" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="area" type="RPG_Common_AreaOfEffect_Type" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="radius" type="xsd:unsignedByte" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="height" type="xsd:unsignedByte" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
    <xsd:attribute name="rangeIsInHD" type="xsd:boolean" use="optional" default="false"/>
  </xsd:complexType>

  <xsd:simpleType name="RPG_Magic_Spell_Duration_Type">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="DURATION_TIMED"/>
      <xsd:enumeration value="DURATION_INSTANTANEOUS"/>
      <xsd:enumeration value="DURATION_PERMANENT"/>
      <xsd:enumeration value="DURATION_CONCENTRATION"/>
      <xsd:enumeration value="DURATION_DISCHARGE"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="RPG_Magic_Spell_DurationProperties_Type">
    <xsd:sequence>
      <xsd:element name="type" type="RPG_Magic_Spell_Duration_Type" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="base" type="xsd:unsignedInt" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="duration" type="xsd:unsignedInt" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="levelIncrement" type="xsd:unsignedByte" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="levelIncrementMax" type="xsd:unsignedByte" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="period" type="RPG_Dice_Roll_Type" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
    <xsd:attribute name="dismissible" type="xsd:boolean" use="optional" default="false"/>
  </xsd:complexType>

  <xsd:simpleType name="RPG_Magic_Spell_Precondition_Type">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="PRECONDITION_ATTRIBUTE_MAX"/>
      <xsd:enumeration value="PRECONDITION_CONDITION"/>
      <xsd:enumeration value="PRECONDITION_HD_MAX"/>
      <xsd:enumeration value="PRECONDITION_MANUFACTURED"/>
      <xsd:enumeration value="PRECONDITION_NONMAGICAL"/>
      <xsd:enumeration value="PRECONDITION_OBJECT"/>
      <xsd:enumeration value="PRECONDITION_RANGED_TOUCH_ATTACK"/>
      <xsd:enumeration value="PRECONDITION_SIZE_MAX"/>
      <xsd:enumeration value="PRECONDITION_SIZE_RELATIVE"/>
      <xsd:enumeration value="PRECONDITION_TYPE"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="RPG_Magic_Spell_PreconditionProperties_Type">
    <xsd:sequence>
      <xsd:element name="type" type="RPG_Magic_Spell_Precondition_Type" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="value" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="levelIncrement" type="xsd:unsignedByte" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="levelIncrementMax" type="xsd:unsignedByte" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="attribute" type="RPG_Common_Attribute_Type" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="condition" type="RPG_Common_Condition_Type" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="creature" type="RPG_Common_CreatureType_Type" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="size" type="RPG_Common_Size_Type" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
    <xsd:attribute name="reverse" type="xsd:boolean" use="optional" default="false"/>
  </xsd:complexType>

  <xsd:simpleType name="RPG_Magic_Spell_Effect_Type">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="SPELLEFFECT_ALIGN_WEAPON"/>
      <xsd:enumeration value="SPELLEFFECT_ANIMATE_ANIMAL_PLANT"/>
      <xsd:enumeration value="SPELLEFFECT_ANIMATE_DEAD"/>
      <xsd:enumeration value="SPELLEFFECT_ATONEMENT"/>
      <xsd:enumeration value="SPELLEFFECT_AUGURY"/>
      <xsd:enumeration value="SPELLEFFECT_BARRIER_CREATURE"/>
      <xsd:enumeration value="SPELLEFFECT_BARRIER_MAGIC"/>
      <xsd:enumeration value="SPELLEFFECT_BONUS_ATTACK_ROLL"/>
      <xsd:enumeration value="SPELLEFFECT_BONUS_ATTRIBUTE"/>
      <xsd:enumeration value="SPELLEFFECT_BONUS_HP"/>
      <xsd:enumeration value="SPELLEFFECT_BONUS_MORALE"/>
      <xsd:enumeration value="SPELLEFFECT_BONUS_SAVE_FEAR"/>
      <xsd:enumeration value="SPELLEFFECT_DAMAGE"/>
      <xsd:enumeration value="SPELLEFFECT_DETECT_MAGIC"/>
      <xsd:enumeration value="SPELLEFFECT_ENTANGLE"/>
      <xsd:enumeration value="SPELLEFFECT_FASCINATE"/>
      <xsd:enumeration value="SPELLEFFECT_GROW"/>
      <xsd:enumeration value="SPELLEFFECT_IDENTIFY"/>
      <xsd:enumeration value="SPELLEFFECT_LEVITATE"/>
      <xsd:enumeration value="SPELLEFFECT_LOCK"/>
      <xsd:enumeration value="SPELLEFFECT_MARK"/>
      <xsd:enumeration value="SPELLEFFECT_MESSENGER"/>
      <xsd:enumeration value="SPELLEFFECT_POLYMORPH"/>
      <xsd:enumeration value="SPELLEFFECT_RAISE_DEAD"/>
      <xsd:enumeration value="SPELLEFFECT_RESISTANCE_FEAR"/>
      <xsd:enumeration value="SPELLEFFECT_SENSOR_VISUAL"/>
      <xsd:enumeration value="SPELLEFFECT_TELEPORT_INTERPLANAR"/>
      <xsd:enumeration value="SPELLEFFECT_TRIGGER_ALARM"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="RPG_Magic_CheckTypeUnion_Type">
    <xsd:union memberTypes="RPG_Common_Skill_Type RPG_Common_Attribute_Type RPG_Common_BaseCheckTypeUnion_Type"/>
  </xsd:simpleType>

  <xsd:complexType name="RPG_Magic_Check_Type">
    <xsd:sequence>
      <xsd:element name="type" type="RPG_Magic_CheckTypeUnion_Type" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="difficultyClass" type="xsd:unsignedByte" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="RPG_Magic_CounterMeasure_Type">
    <xsd:sequence>
      <xsd:element name="type" type="RPG_Common_CounterMeasure_Type" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="check" type="RPG_Magic_Check_Type" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="spell" type="RPG_Magic_SpellType_Type" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="reduction" type="RPG_Common_SaveReductionType_Type" use="optional" default="SAVEREDUCTION_NEGATES"/>
  </xsd:complexType>

  <xsd:complexType name="RPG_Magic_Spell_EffectProperties_Type">
    <xsd:sequence>
      <xsd:element name="type" type="RPG_Magic_Spell_Effect_Type" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="base" type="RPG_Common_Amount_Type" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="levelIncrement" type="RPG_Common_Amount_Type" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="levelIncrementMax" type="xsd:unsignedByte" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="attribute" type="RPG_Common_Attribute_Type" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="maxRange" type="xsd:unsignedByte" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="counterMeasure" type="RPG_Magic_CounterMeasure_Type" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="RPG_Magic_Spell_PropertiesXML_Type">
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="type" type="RPG_Magic_Spell_Type_Type" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="level" type="RPG_Magic_Spell_Level_Type" minOccurs="1" maxOccurs="unbounded"/>
      <xsd:element name="cost" type="xsd:unsignedInt" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="time" type="RPG_Magic_Spell_CastingTime_Type" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="range" type="RPG_Magic_Spell_RangeProperties_Type" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="target" type="RPG_Magic_Spell_TargetProperties_Type" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="duration" type="RPG_Magic_Spell_DurationProperties_Type" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="precondition" type="RPG_Magic_Spell_PreconditionProperties_Type" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="effect" type="RPG_Magic_Spell_EffectProperties_Type" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="saveable" type="RPG_Common_SavingThrow_Type" use="optional" default="SAVE_NONE"/>
    <xsd:attribute name="resistible" type="xsd:boolean" use="optional" default="false"/>
  </xsd:complexType>

  <xsd:complexType name="RPG_Magic_SpellLikeProperties_Type">
    <xsd:sequence>
      <xsd:element name="type" type="RPG_Magic_SpellType_Type" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="casterLevel" type="xsd:unsignedByte" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="duration" type="RPG_Common_Duration_Type" minOccurs="0" maxOccurs="1"/>
      <!--      <xsd:element name="area" type="xsd:unsignedByte" minOccurs="0" maxOccurs="1"/>-->
      <xsd:element name="save" type="RPG_Common_SavingThrowCheck_Type" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="RPG_Magic_Dictionary_Type" id="skip0">
    <xsd:sequence>
      <xsd:element name="spell" type="RPG_Magic_Spell_PropertiesXML_Type" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- xml instance document(s) will contain a dictionary of different types of spells -->
  <xsd:element name="spellDictionary" type="RPG_Magic_Dictionary_Type"/>

</xsd:schema>
