common/rpg_common.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="urn:rpg"
            xmlns="urn:rpg"
            elementFormDefault="qualified"
            attributeFormDefault="qualified">

  <!-- include chance_dice schema -->
<!--  <xsd:include schemaLocation="rpg_dice.xsd"/>-->

<!--   <xsd:import namespace="http://www.w3.org/2001/XMLSchema"/> -->
<!--   import chance_dice schema (as declared above) -->
<!--   <xsd:import namespace="urn:rpg_chance_dice" schemaLocation="../chance/dice/rpg_chance_dice.xsd"/> -->
<!--   import item schema (as declared above) -->
<!--   <xsd:import namespace="urn:rpg_item" schemaLocation="../item/rpg_item.xsd"/> -->

  <xsd:annotation>
    <xsd:documentation xml:lang="en">
      RPG_Common: common types XML schema
    </xsd:documentation>
  </xsd:annotation>

  <xsd:simpleType name="RPG_Common_Attribute_Type">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ATTRIBUTE_STRENGTH"/>
      <xsd:enumeration value="ATTRIBUTE_DEXTERITY"/>
      <xsd:enumeration value="ATTRIBUTE_CONSTITUTION"/>
      <xsd:enumeration value="ATTRIBUTE_INTELLIGENCE"/>
      <xsd:enumeration value="ATTRIBUTE_WISDOM"/>
      <xsd:enumeration value="ATTRIBUTE_CHARISMA"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="RPG_Common_SavingThrow_Type">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="SAVE_FORTITUDE"/>
      <xsd:enumeration value="SAVE_REFLEX"/>
      <xsd:enumeration value="SAVE_WILL"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="RPG_Common_SavingThrowModifier_Type">
    <xsd:sequence>
      <xsd:element name="type" type="RPG_Common_SavingThrow_Type" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="attribute" type="RPG_Common_Attribute_Type" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="difficultyClass" type="xsd:unsignedByte" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>
