character/rpg_character.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="urn:rpg"
            xmlns="urn:rpg"
            elementFormDefault="qualified"
            attributeFormDefault="qualified">

  <!-- include chance_dice schema -->
  <xsd:include schemaLocation="rpg_chance_dice.xsd"/>
  <!-- include item schema -->
  <xsd:include schemaLocation="rpg_item.xsd"/>
<!--   <xsd:import namespace="http://www.w3.org/2001/XMLSchema"/> -->
<!--   import chance_dice schema (as declared above) -->
<!--   <xsd:import namespace="urn:rpg_chance_dice" schemaLocation="../chance/dice/rpg_chance_dice.xsd"/> -->
<!--   import item schema (as declared above) -->
<!--   <xsd:import namespace="urn:rpg_item" schemaLocation="../item/rpg_item.xsd"/> -->

  <xsd:annotation>
    <xsd:documentation xml:lang="en">
      RPG_Character types XML schema
    </xsd:documentation>
  </xsd:annotation>

  <xsd:simpleType name="RPG_Character_Gender_Type">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="GENDER_NONE"/>
      <xsd:enumeration value="GENDER_MALE"/>
      <xsd:enumeration value="GENDER_FEMALE"/>
      <xsd:enumeration value="GENDER_ANY"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="RPG_Character_Race_Type">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="RACE_NONE"/>
      <xsd:enumeration value="RACE_HUMAN"/>
      <xsd:enumeration value="RACE_DWARF"/>
      <xsd:enumeration value="RACE_ELF"/>
      <xsd:enumeration value="RACE_HALFLING"/>
      <xsd:enumeration value="RACE_GNOME"/>
      <xsd:enumeration value="RACE_ORC"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="RPG_Character_MetaClass_Type">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="METACLASS_NONE"/>
      <xsd:enumeration value="METACLASS_WARRIOR"/>
      <xsd:enumeration value="METACLASS_WIZARD"/>
      <xsd:enumeration value="METACLASS_PRIEST"/>
      <xsd:enumeration value="METACLASS_ROGUE"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="RPG_Character_SubClass_Type">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="SUBCLASS_NONE"/>
      <xsd:enumeration value="SUBCLASS_FIGHTER"/>
      <xsd:enumeration value="SUBCLASS_PALADIN"/>
      <xsd:enumeration value="SUBCLASS_RANGER"/>
      <xsd:enumeration value="SUBCLASS_BARBARIAN"/>
      <xsd:enumeration value="SUBCLASS_WARLORD"/>
      <xsd:enumeration value="SUBCLASS_WIZARD"/>
      <xsd:enumeration value="SUBCLASS_SORCERER"/>
      <xsd:enumeration value="SUBCLASS_WARLOCK"/>
      <xsd:enumeration value="SUBCLASS_CLERIC"/>
      <xsd:enumeration value="SUBCLASS_DRUID"/>
      <xsd:enumeration value="SUBCLASS_MONK"/>
      <xsd:enumeration value="SUBCLASS_AVENGER"/>
      <xsd:enumeration value="SUBCLASS_INVOKER"/>
      <xsd:enumeration value="SUBCLASS_SHAMAN"/>
      <xsd:enumeration value="SUBCLASS_THIEF"/>
      <xsd:enumeration value="SUBCLASS_BARD"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="RPG_Character_Class_Type">
    <xsd:sequence>
      <xsd:element name="metaClass" type="RPG_Character_MetaClass_Type" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="subClass" type="RPG_Character_SubClass_Type" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="RPG_Character_Attribute_Type">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ATTRIBUTE_STRENGTH"/>
      <xsd:enumeration value="ATTRIBUTE_DEXTERITY"/>
      <xsd:enumeration value="ATTRIBUTE_CONSTITUTION"/>
      <xsd:enumeration value="ATTRIBUTE_INTELLIGENCE"/>
      <xsd:enumeration value="ATTRIBUTE_WISDOM"/>
      <xsd:enumeration value="ATTRIBUTE_CHARISMA"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="RPG_Character_Condition_Type">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="CONDITION_NORMAL"/>
      <xsd:enumeration value="CONDITION_ABILITY_DAMAGED"/>
      <xsd:enumeration value="CONDITION_ABILITY_DRAINED"/>
      <xsd:enumeration value="CONDITION_BLINDED"/>
      <xsd:enumeration value="CONDITION_BLOWN_AWAY"/>
      <xsd:enumeration value="CONDITION_CHECKED"/>
      <xsd:enumeration value="CONDITION_CONFUSED"/>
      <xsd:enumeration value="CONDITION_COWERING"/>
      <xsd:enumeration value="CONDITION_DAZED"/>
      <xsd:enumeration value="CONDITION_DAZZLED"/>
      <xsd:enumeration value="CONDITION_DEAD"/>
      <xsd:enumeration value="CONDITION_DEAFENED"/>
      <xsd:enumeration value="CONDITION_DISABLED"/>
      <xsd:enumeration value="CONDITION_DYING"/>
      <xsd:enumeration value="CONDITION_ENERGY_DRAINED"/>
      <xsd:enumeration value="CONDITION_ENTANGLED"/>
      <xsd:enumeration value="CONDITION_EXHAUSTED"/>
      <xsd:enumeration value="CONDITION_FASCINATED"/>
      <xsd:enumeration value="CONDITION_FATIGUED"/>
      <xsd:enumeration value="CONDITION_FLAT_FOOTED"/>
      <xsd:enumeration value="CONDITION_FRIGHTENED"/>
      <xsd:enumeration value="CONDITION_GRAPPLING"/>
      <xsd:enumeration value="CONDITION_HELPLESS"/>
      <xsd:enumeration value="CONDITION_INCORPOREAL"/>
      <xsd:enumeration value="CONDITION_INVISIBLE"/>
      <xsd:enumeration value="CONDITION_KNOCKED_DOWN"/>
      <xsd:enumeration value="CONDITION_NAUSEATED"/>
      <xsd:enumeration value="CONDITION_PANICKED"/>
      <xsd:enumeration value="CONDITION_PARALYZED"/>
      <xsd:enumeration value="CONDITION_PETRIFIED"/>
      <xsd:enumeration value="CONDITION_PINNED"/>
      <xsd:enumeration value="CONDITION_PRONE"/>
      <xsd:enumeration value="CONDITION_SHAKEN"/>
      <xsd:enumeration value="CONDITION_SICKENED"/>
      <xsd:enumeration value="CONDITION_STABLE"/>
      <xsd:enumeration value="CONDITION_STAGGERED"/>
      <xsd:enumeration value="CONDITION_STUNNED"/>
      <xsd:enumeration value="CONDITION_TURNED"/>
      <xsd:enumeration value="CONDITION_UNCONSCIOUS"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="RPG_Character_Ability_Type">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ABILITY_SCORE_LOSS"/>
      <xsd:enumeration value="ABILITY_ALTERNATE_FORM"/>
      <xsd:enumeration value="ABILITY_ANTIMAGIC"/>
      <xsd:enumeration value="ABILITY_BLINDSIGHT"/>
      <xsd:enumeration value="ABILITY_BLINDSENSE"/>
      <xsd:enumeration value="ABILITY_BREATH_WEAPON"/>
      <xsd:enumeration value="ABILITY_CHANGE_SHAPE"/>
      <xsd:enumeration value="ABILITY_CHARM"/>
      <xsd:enumeration value="ABILITY_COMPULSION"/>
      <xsd:enumeration value="ABILITY_IMMUNITY_COLD"/>
      <xsd:enumeration value="ABILITY_CONSTRICT"/>
      <xsd:enumeration value="ABILITY_RESISTANCE_TO_DAMAGE"/>
      <xsd:enumeration value="ABILITY_DARKVISION"/>
      <xsd:enumeration value="ABILITY_DEATH_ATTACK"/>
      <xsd:enumeration value="ABILITY_DISEASE"/>
      <xsd:enumeration value="ABILITY_ENERGY_DRAIN"/>
      <xsd:enumeration value="ABILITY_ETHEREALNESS"/>
      <xsd:enumeration value="ABILITY_EVASION"/>
      <xsd:enumeration value="ABILITY_IMPROVED_EVASION"/>
      <xsd:enumeration value="ABILITY_FAST_HEALING"/>
      <xsd:enumeration value="ABILITY_FEAR"/>
      <xsd:enumeration value="ABILITY_IMMUNITY_FIRE"/>
      <xsd:enumeration value="ABILITY_GASEOUS_FORM"/>
      <xsd:enumeration value="ABILITY_GAZE_ATTACK"/>
      <xsd:enumeration value="ABILITY_IMPROVED_GRAB"/>
      <xsd:enumeration value="ABILITY_INCORPOREALITY"/>
      <xsd:enumeration value="ABILITY_INVISIBILITY"/>
      <xsd:enumeration value="ABILITY_LEVEL_LOSS"/>
      <xsd:enumeration value="ABILITY_LOWLIGHT_VISION"/>
      <xsd:enumeration value="ABILITY_MANUFACTURED_WEAPONS"/>
      <xsd:enumeration value="ABILITY_MOVEMENT_MODES"/>
      <xsd:enumeration value="ABILITY_NATURAL_WEAPONS"/>
      <xsd:enumeration value="ABILITY_NONABILITIES"/>
      <xsd:enumeration value="ABILITY_PARALYZE_ATTACK"/>
      <xsd:enumeration value="ABILITY_POISON_ATTACK"/>
      <xsd:enumeration value="ABILITY_IMMUNITY_POISON"/>
      <xsd:enumeration value="ABILITY_POLYMORPH"/>
      <xsd:enumeration value="ABILITY_POUNCE"/>
      <xsd:enumeration value="ABILITY_POWERFUL_CHARGE"/>
      <xsd:enumeration value="ABILITY_PSIONICS"/>
      <xsd:enumeration value="ABILITY_RAKE"/>
      <xsd:enumeration value="ABILITY_RAY_ATTACK"/>
      <xsd:enumeration value="ABILITY_REGENERATION"/>
      <xsd:enumeration value="ABILITY_RESISTANCE_TO_ENERGY"/>
      <xsd:enumeration value="ABILITY_SCENT"/>
      <xsd:enumeration value="ABILITY_SONIC_ATTACK"/>
      <xsd:enumeration value="ABILITY_IMMUNITY_SPELL"/>
      <xsd:enumeration value="ABILITY_RESISTANCE_TO_SPELL"/>
      <xsd:enumeration value="ABILITY_SPELLS"/>
      <xsd:enumeration value="ABILITY_SUMMON"/>
      <xsd:enumeration value="ABILITY_SWALLOW_WHOLE"/>
      <xsd:enumeration value="ABILITY_TELEPATHY"/>
      <xsd:enumeration value="ABILITY_TRAMPLE"/>
      <xsd:enumeration value="ABILITY_TREMOR_SENSE"/>
      <xsd:enumeration value="ABILITY_RESISTANCE_TO_TURNING"/>
      <xsd:enumeration value="ABILITY_VULNERABILITY_TO_ENERGY"/>
      <xsd:enumeration value="ABILITY_IMMUNITY_DISEASE"/>
      <xsd:enumeration value="ABILITY_ANIMAL_COMPANION"/>
      <xsd:enumeration value="ABILITY_WOODLAND_STRIDE"/>
      <xsd:enumeration value="ABILITY_SENSE_TRAPS"/>
      <xsd:enumeration value="ABILITY_UNCANNY_DODGE"/>
      <xsd:enumeration value="ABILITY_IMPROVED_UNCANNY_DODGE"/>
      <xsd:enumeration value="ABILITY_CRIPPLING_STRIKE"/>
      <xsd:enumeration value="ABILITY_DEFENSIVE_ROLL"/>
      <xsd:enumeration value="ABILITY_OPPORTUNIST"/>
      <xsd:enumeration value="ABILITY_SKILL_MASTERY"/>
      <xsd:enumeration value="ABILITY_SLIPPERY_MIND"/>
      <xsd:enumeration value="ABILITY_BONUS_FEAT"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- xml instance document(s) will contain a dictionary of different types of monsters -->
  <xsd:simpleType name="RPG_Character_MonsterMetaType_Type">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="MONSTERMETATYPE_ABERRATION"/>
      <xsd:enumeration value="MONSTERMETATYPE_ANIMAL"/>
      <xsd:enumeration value="MONSTERMETATYPE_CONSTRUCT"/>
      <xsd:enumeration value="MONSTERMETATYPE_DRAGON"/>
      <xsd:enumeration value="MONSTERMETATYPE_ELEMENTAL"/>
      <xsd:enumeration value="MONSTERMETATYPE_FEY"/>
      <xsd:enumeration value="MONSTERMETATYPE_GIANT"/>
      <xsd:enumeration value="MONSTERMETATYPE_HUMANOID"/>
      <xsd:enumeration value="MONSTERMETATYPE_MAGICAL_BEAST"/>
      <xsd:enumeration value="MONSTERMETATYPE_MONSTROUS_HUMANOID"/>
      <xsd:enumeration value="MONSTERMETATYPE_OOZE"/>
      <xsd:enumeration value="MONSTERMETATYPE_OUTSIDER"/>
      <xsd:enumeration value="MONSTERMETATYPE_PLANT"/>
      <xsd:enumeration value="MONSTERMETATYPE_UNDEAD"/>
      <xsd:enumeration value="MONSTERMETATYPE_VERMIN"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="RPG_Character_MonsterSubType_Type">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="MONSTERSUBTYPE_AIR"/>
      <xsd:enumeration value="MONSTERSUBTYPE_ANGEL"/>
      <xsd:enumeration value="MONSTERSUBTYPE_AQUATIC"/>
      <xsd:enumeration value="MONSTERSUBTYPE_ARCHON"/>
      <xsd:enumeration value="MONSTERSUBTYPE_AUGMENTED"/>
      <xsd:enumeration value="MONSTERSUBTYPE_CHAOTIC"/>
      <xsd:enumeration value="MONSTERSUBTYPE_COLD"/>
      <xsd:enumeration value="MONSTERSUBTYPE_EARTH"/>
      <xsd:enumeration value="MONSTERSUBTYPE_EVIL"/>
      <xsd:enumeration value="MONSTERSUBTYPE_EXTRAPLANAR"/>
      <xsd:enumeration value="MONSTERSUBTYPE_FIRE"/>
      <xsd:enumeration value="MONSTERSUBTYPE_GOBLINOID"/>
      <xsd:enumeration value="MONSTERSUBTYPE_GOOD"/>
      <xsd:enumeration value="MONSTERSUBTYPE_INCORPOREAL"/>
      <xsd:enumeration value="MONSTERSUBTYPE_LAWFUL"/>
      <xsd:enumeration value="MONSTERSUBTYPE_NATIVE"/>
      <xsd:enumeration value="MONSTERSUBTYPE_REPTILIAN"/>
      <xsd:enumeration value="MONSTERSUBTYPE_SHAPECHANGER"/>
      <xsd:enumeration value="MONSTERSUBTYPE_SWARM"/>
      <xsd:enumeration value="MONSTERSUBTYPE_WATER"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="RPG_Character_MonsterType_Type">
    <xsd:sequence>
      <xsd:element name="metaType" type="RPG_Character_MonsterMetaType_Type" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="subType" type="RPG_Character_MonsterSubType_Type" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="RPG_Character_MonsterArmorClass_Type">
    <xsd:sequence>
      <xsd:element name="normal" type="xsd:unsignedByte" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="touch" type="xsd:unsignedByte" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="flatFooted" type="xsd:unsignedByte" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="RPG_Character_MonsterWeapon_Type">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="INCORPOREAL_TOUCH"/>
      <xsd:enumeration value="NATURALWEAPON_BITE"/>
      <xsd:enumeration value="NATURALWEAPON_CLAW_TALON"/>
      <xsd:enumeration value="NATURALWEAPON_GORE"/>
      <xsd:enumeration value="NATURALWEAPON_SLAP_SLAM"/>
      <xsd:enumeration value="NATURALWEAPON_STING"/>
      <xsd:enumeration value="NATURALWEAPON_TENTACLE"/>
      <xsd:enumeration value="NATURALWEAPON_SPIT_ACID"/>
      <xsd:enumeration value="NATURALWEAPON_WEB"/>
      <xsd:enumeration value="NATURALWEAPON_ROCK_STONE"/>
      <xsd:enumeration value="STANDARDWEAPON_BLUDGEONING"/>
      <xsd:enumeration value="STANDARDWEAPON_PIERCING"/>
      <xsd:enumeration value="STANDARDWEAPON_SLASHING"/>
      <xsd:enumeration value="RAY_ELECTRICITY"/>
      <xsd:enumeration value="RAY_LIGHT"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="RPG_Character_AttackForm_Type">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ATTACK_MELEE"/>
      <xsd:enumeration value="ATTACK_TOUCH"/>
      <xsd:enumeration value="ATTACK_RANGED"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="RPG_Character_MonsterAttackAction_Type">
    <xsd:sequence>
      <xsd:element name="monsterWeapon" type="RPG_Character_MonsterWeapon_Type" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="attackBonus" type="xsd:byte" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="attackForm" type="RPG_Character_AttackForm_Type" minOccurs="1" maxOccurs="1"/>
<!--      <xsd:element name="damage" type="rpg_chance_dice:RPG_Chance_DiceRoll_Type" minOccurs="1" maxOccurs="1"/>-->
      <xsd:element name="damage" type="RPG_Chance_DiceRoll_Type" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="numAttacksPerRound" type="xsd:unsignedByte" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="RPG_Character_MonsterAttack_Type">
    <xsd:sequence>
      <xsd:element name="baseAttackBonus" type="xsd:byte" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="grappleBonus" type="xsd:byte" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="attackAction" type="RPG_Character_MonsterAttackAction_Type" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="RPG_Character_Size_Type">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="SIZE_FINE"/>
      <xsd:enumeration value="SIZE_DIMINUTIVE"/>
      <xsd:enumeration value="SIZE_TINY"/>
      <xsd:enumeration value="SIZE_SMALL"/>
      <xsd:enumeration value="SIZE_MEDIUM"/>
      <xsd:enumeration value="SIZE_LARGE"/>
      <xsd:enumeration value="SIZE_HUGE"/>
      <xsd:enumeration value="SIZE_GARGANTUAN"/>
      <xsd:enumeration value="SIZE_COLOSSAL"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="RPG_Character_SavingThrowModifiers_Type">
    <xsd:sequence>
      <xsd:element name="fortitude" type="xsd:byte" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="reflex" type="xsd:byte" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="will" type="xsd:byte" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="RPG_Character_Attributes_Type">
    <xsd:sequence>
      <xsd:element name="strength" type="xsd:unsignedByte" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="dexterity" type="xsd:unsignedByte" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="constitution" type="xsd:unsignedByte" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="intelligence" type="xsd:unsignedByte" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="wisdom" type="xsd:unsignedByte" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="charisma" type="xsd:unsignedByte" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="RPG_Character_Skill_Type">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="SKILL_APPRAISE"/>
      <xsd:enumeration value="SKILL_BALANCE"/>
      <xsd:enumeration value="SKILL_BLUFF"/>
      <xsd:enumeration value="SKILL_CLIMB"/>
      <xsd:enumeration value="SKILL_CONCENTRATION"/>
      <xsd:enumeration value="SKILL_CRAFT_ANY"/>
      <xsd:enumeration value="SKILL_CRAFT_ALL"/>
      <xsd:enumeration value="SKILL_CRAFT_ALCHEMY"/>
      <xsd:enumeration value="SKILL_CRAFT_FLETCHER"/>
      <xsd:enumeration value="SKILL_CRAFT_BOWYER"/>
      <xsd:enumeration value="SKILL_CRAFT_SMITH_ARMOR"/>
      <xsd:enumeration value="SKILL_CRAFT_SMITH_BLACK"/>
      <xsd:enumeration value="SKILL_CRAFT_SMITH_WEAPON"/>
      <xsd:enumeration value="SKILL_CRAFT_TRAP"/>
      <xsd:enumeration value="SKILL_CRAFT_OTHER"/>
      <xsd:enumeration value="SKILL_DECIPHER_SCRIPT"/>
      <xsd:enumeration value="SKILL_DIPLOMACY"/>
      <xsd:enumeration value="SKILL_DISABLE_DEVICE"/>
      <xsd:enumeration value="SKILL_DISGUISE"/>
      <xsd:enumeration value="SKILL_ESCAPE_ARTIST"/>
      <xsd:enumeration value="SKILL_FORGERY"/>
      <xsd:enumeration value="SKILL_GATHER_INFORMATION"/>
      <xsd:enumeration value="SKILL_HANDLE_ANIMAL"/>
      <xsd:enumeration value="SKILL_HEAL"/>
      <xsd:enumeration value="SKILL_HIDE"/>
      <xsd:enumeration value="SKILL_INTIMIDATE"/>
      <xsd:enumeration value="SKILL_JUMP"/>
      <xsd:enumeration value="SKILL_KNOWLEDGE_ANY"/>
      <xsd:enumeration value="SKILL_KNOWLEDGE_ALL"/>
      <xsd:enumeration value="SKILL_KNOWLEDGE_ARCANA"/>
      <xsd:enumeration value="SKILL_KNOWLEDGE_ARCH_ENG"/>
      <xsd:enumeration value="SKILL_KNOWLEDGE_DUNGEONS"/>
      <xsd:enumeration value="SKILL_KNOWLEDGE_GEOGRAPHY"/>
      <xsd:enumeration value="SKILL_KNOWLEDGE_HISTORY"/>
      <xsd:enumeration value="SKILL_KNOWLEDGE_LOCAL"/>
      <xsd:enumeration value="SKILL_KNOWLEDGE_NATURE"/>
      <xsd:enumeration value="SKILL_KNOWLEDGE_NOB_ROY"/>
      <xsd:enumeration value="SKILL_KNOWLEDGE_RELIGION"/>
      <xsd:enumeration value="SKILL_KNOWLEDGE_PLANES"/>
      <xsd:enumeration value="SKILL_LISTEN"/>
      <xsd:enumeration value="SKILL_MOVE_SILENTLY"/>
      <xsd:enumeration value="SKILL_OPEN_LOCK"/>
      <xsd:enumeration value="SKILL_PERFORM"/>
      <xsd:enumeration value="SKILL_PROFESSION"/>
      <xsd:enumeration value="SKILL_RIDE"/>
      <xsd:enumeration value="SKILL_SEARCH"/>
      <xsd:enumeration value="SKILL_SENSE_MOTIVE"/>
      <xsd:enumeration value="SKILL_SLEIGHT_OF_HAND"/>
      <xsd:enumeration value="SKILL_SPEAK_LANGUAGE"/>
      <xsd:enumeration value="SKILL_SPELLCRAFT"/>
      <xsd:enumeration value="SKILL_SPOT"/>
      <xsd:enumeration value="SKILL_SURVIVAL"/>
      <xsd:enumeration value="SKILL_SWIM"/>
      <xsd:enumeration value="SKILL_TUMBLE"/>
      <xsd:enumeration value="SKILL_USE_MAGIC_DEVICE"/>
      <xsd:enumeration value="SKILL_USE_ROPE"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="RPG_Character_SkillValue_Type">
    <xsd:sequence>
      <xsd:element name="skill" type="RPG_Character_Skill_Type" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="rank" type="xsd:byte" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="RPG_Character_Skills_Type">
    <xsd:sequence>
      <xsd:element name="skill" type="RPG_Character_SkillValue_Type" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="RPG_Character_Feat_Type">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="FEAT_BLIND_FIGHT"/>
      <xsd:enumeration value="FEAT_COMBAT_EXPERTISE"/>
      <xsd:enumeration value="FEAT_IMPROVED_DISARM"/>
      <xsd:enumeration value="FEAT_IMPROVED_FEINT"/>
      <xsd:enumeration value="FEAT_IMPROVED_TRIP"/>
      <xsd:enumeration value="FEAT_WHIRLWIND_ATTACK"/>
      <xsd:enumeration value="FEAT_COMBAT_REFLEXES"/>
      <xsd:enumeration value="FEAT_DODGE"/>
      <xsd:enumeration value="FEAT_MOBILITY"/>
      <xsd:enumeration value="FEAT_SPRING_ATTACK"/>
      <xsd:enumeration value="FEAT_PROFICIENCY_EXOTIC_WEAPONS"/>
      <xsd:enumeration value="FEAT_IMPROVED_CRITICAL"/>
      <xsd:enumeration value="FEAT_IMPROVED_INITIATIVE"/>
      <xsd:enumeration value="FEAT_IMPROVED_SHIELD_BASH"/>
      <xsd:enumeration value="FEAT_IMPROVED_UNARMED_STRIKE"/>
      <xsd:enumeration value="FEAT_DEFLECT_ARROWS"/>
      <xsd:enumeration value="FEAT_IMPROVED_GRAPPLE"/>
      <xsd:enumeration value="FEAT_SNATCH_ARROWS"/>
      <xsd:enumeration value="FEAT_STUNNING_FIST"/>
      <xsd:enumeration value="FEAT_MOUNTED_COMBAT"/>
      <xsd:enumeration value="FEAT_MOUNTED_ARCHERY"/>
      <xsd:enumeration value="FEAT_RIDE_BY_ATTACK"/>
      <xsd:enumeration value="FEAT_SPIRITED_CHARGE"/>
      <xsd:enumeration value="FEAT_TRAMPLE"/>
      <xsd:enumeration value="FEAT_POINT_BLANK_SHOT"/>
      <xsd:enumeration value="FEAT_FAR_SHOT"/>
      <xsd:enumeration value="FEAT_PRECISE_SHOT"/>
      <xsd:enumeration value="FEAT_RAPID_SHOT"/>
      <xsd:enumeration value="FEAT_MANY_SHOT"/>
      <xsd:enumeration value="FEAT_SHOT_ON_THE_RUN"/>
      <xsd:enumeration value="FEAT_IMPROVED_PRECISE_SHOT"/>
      <xsd:enumeration value="FEAT_POWER_ATTACK"/>
      <xsd:enumeration value="FEAT_CLEAVE"/>
      <xsd:enumeration value="FEAT_GREAT_CLEAVE"/>
      <xsd:enumeration value="FEAT_IMPROVED_BULL_RUSH"/>
      <xsd:enumeration value="FEAT_IMPROVED_OVERRUN"/>
      <xsd:enumeration value="FEAT_IMPROVED_SUNDER"/>
      <xsd:enumeration value="FEAT_QUICK_DRAW"/>
      <xsd:enumeration value="FEAT_RAPID_RELOAD"/>
      <xsd:enumeration value="FEAT_TWO_WEAPON_FIGHTING"/>
      <xsd:enumeration value="FEAT_TWO_WEAPON_DEFENSE"/>
      <xsd:enumeration value="FEAT_IMPROVED_TWO_WEAPON_FIGHTING"/>
      <xsd:enumeration value="FEAT_GREATER_TWO_WEAPON_FIGHTING"/>
      <xsd:enumeration value="FEAT_WEAPON_FINESSE"/>
      <xsd:enumeration value="FEAT_WEAPON_FOCUS"/>
      <xsd:enumeration value="FEAT_WEAPON_SPECIALIZATION"/>
      <xsd:enumeration value="FEAT_GREATER_WEAPON_FOCUS"/>
      <xsd:enumeration value="FEAT_GREATER_WEAPON_SPECIALIZATION"/>
      <xsd:enumeration value="FEAT_BREW_POTION"/>
      <xsd:enumeration value="FEAT_CRAFT_MAGIC_ARMS_AND_ARMOR"/>
      <xsd:enumeration value="FEAT_CRAFT_ROD"/>
      <xsd:enumeration value="FEAT_CRAFT_STAFF"/>
      <xsd:enumeration value="FEAT_CRAFT_WAND"/>
      <xsd:enumeration value="FEAT_CRAFT_WONDROUS_ITEM"/>
      <xsd:enumeration value="FEAT_FORGE_RING"/>
      <xsd:enumeration value="FEAT_SCRIBE_SCROLL"/>
      <xsd:enumeration value="FEAT_EMPOWER_SPELL"/>
      <xsd:enumeration value="FEAT_ENLARGE_SPELL"/>
      <xsd:enumeration value="FEAT_EXTEND_SPELL"/>
      <xsd:enumeration value="FEAT_HEIGHTEN_SPELL"/>
      <xsd:enumeration value="FEAT_MAXIMIZE_SPELL"/>
      <xsd:enumeration value="FEAT_QUICKEN_SPELL"/>
      <xsd:enumeration value="FEAT_SILENT_SPELL"/>
      <xsd:enumeration value="FEAT_WIDEN_SPELL"/>
      <xsd:enumeration value="FEAT_ACROBATIC"/>
      <xsd:enumeration value="FEAT_AGILE"/>
      <xsd:enumeration value="FEAT_ALERTNESS"/>
      <xsd:enumeration value="FEAT_ANIMAL_AFFINITY"/>
      <xsd:enumeration value="FEAT_PROFICIENCY_ARMOR_LIGHT"/>
      <xsd:enumeration value="FEAT_PROFICIENCY_ARMOR_MEDIUM"/>
      <xsd:enumeration value="FEAT_PROFICIENCY_ARMOR_HEAVY"/>
      <xsd:enumeration value="FEAT_ATHLETIC"/>
      <xsd:enumeration value="FEAT_AUGMENT_SUMMONING"/>
      <xsd:enumeration value="FEAT_COMBAT_CASTING"/>
      <xsd:enumeration value="FEAT_DECEITFUL"/>
      <xsd:enumeration value="FEAT_DEFT_HANDS"/>
      <xsd:enumeration value="FEAT_DILIGENT"/>
      <xsd:enumeration value="FEAT_ENDURANCE"/>
      <xsd:enumeration value="FEAT_DIE_HARD"/>
      <xsd:enumeration value="FEAT_ESCHEW_MATERIALS"/>
      <xsd:enumeration value="FEAT_EXTRA_TURNING"/>
      <xsd:enumeration value="FEAT_GREAT_FORTITUDE"/>
      <xsd:enumeration value="FEAT_IMPROVED_COUNTERSPELL"/>
      <xsd:enumeration value="FEAT_IMPROVED_FAMILIAR"/>
      <xsd:enumeration value="FEAT_IMPROVED_TURNING"/>
      <xsd:enumeration value="FEAT_INVESTIGATOR"/>
      <xsd:enumeration value="FEAT_IRON_WILL"/>
      <xsd:enumeration value="FEAT_LEADERSHIP"/>
      <xsd:enumeration value="FEAT_LIGHTNING_REFLEXES"/>
      <xsd:enumeration value="FEAT_MAGICAL_APTITUDE"/>
      <xsd:enumeration value="FEAT_PROFICIENCY_MARTIAL_WEAPONS"/>
      <xsd:enumeration value="FEAT_NATURAL_SPELL"/>
      <xsd:enumeration value="FEAT_NEGOTIATOR"/>
      <xsd:enumeration value="FEAT_NIMBLE_FINGERS"/>
      <xsd:enumeration value="FEAT_PERSUASIVE"/>
      <xsd:enumeration value="FEAT_RUN"/>
      <xsd:enumeration value="FEAT_SELF_SUFFICIENT"/>
      <xsd:enumeration value="FEAT_PROFICIENCY_SHIELD"/>
      <xsd:enumeration value="FEAT_PROFICIENCY_TOWER_SHIELD"/>
      <xsd:enumeration value="FEAT_PROFICIENCY_SIMPLE_WEAPONS"/>
      <xsd:enumeration value="FEAT_SKILL_FOCUS"/>
      <xsd:enumeration value="FEAT_SPELL_FOCUS"/>
      <xsd:enumeration value="FEAT_GREATER_SPELL_FOCUS"/>
      <xsd:enumeration value="FEAT_SPELL_MASTERY"/>
      <xsd:enumeration value="FEAT_SPELL_PENETRATION"/>
      <xsd:enumeration value="FEAT_GREATER_SPELL_PENETRATION"/>
      <xsd:enumeration value="FEAT_STEALTHY"/>
      <xsd:enumeration value="FEAT_TOUGHNESS"/>
      <xsd:enumeration value="FEAT_TRACK"/>
      <xsd:enumeration value="FEAT_ABILITY_FOCUS"/>
      <xsd:enumeration value="FEAT_AWESOME_BLOW"/>
      <xsd:enumeration value="FEAT_CRAFT_CONSTRUCT"/>
      <xsd:enumeration value="FEAT_EMPOWER_SPELLLIKE_ABILITY"/>
      <xsd:enumeration value="FEAT_FLYBY_ATTACK"/>
      <xsd:enumeration value="FEAT_HOVER"/>
      <xsd:enumeration value="FEAT_IMPROVED_NATURAL_ARMOR"/>
      <xsd:enumeration value="FEAT_IMPROVED_NATURAL_ATTACK"/>
      <xsd:enumeration value="FEAT_MULTI_ATTACK"/>
      <xsd:enumeration value="FEAT_MULTIWEAPON_FIGHTING"/>
      <xsd:enumeration value="FEAT_QUICKEN_SPELLLIKE_ABILITY"/>
      <xsd:enumeration value="FEAT_SNATCH"/>
      <xsd:enumeration value="FEAT_WINGOVER"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="RPG_Character_Feats_Type">
    <xsd:sequence>
      <xsd:element name="feat" type="RPG_Character_Feat_Type" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="RPG_Character_Environment_Type">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ENVIRONMENT_ANY"/>
      <xsd:enumeration value="ENVIRONMENT_UNDERGROUND"/>
      <xsd:enumeration value="ENVIRONMENT_PLAINS_TEMPERATE"/>
      <xsd:enumeration value="ENVIRONMENT_PLAINS_WARM"/>
      <xsd:enumeration value="ENVIRONMENT_FORESTS_TEMPERATE"/>
      <xsd:enumeration value="ENVIRONMENT_HILLS_TEMPERATE"/>
      <xsd:enumeration value="ENVIRONMENT_HILLS_WARM"/>
      <xsd:enumeration value="ENVIRONMENT_MOUNTAINS_TEMPERATE"/>
      <xsd:enumeration value="ENVIRONMENT_DESERTS_WARM"/>
      <xsd:enumeration value="ENVIRONMENT_PLANE_ANY_LAWFUL"/>
      <xsd:enumeration value="ENVIRONMENT_PLANE_LAWFUL_GOOD"/>
      <xsd:enumeration value="ENVIRONMENT_PLANE_ANY_GOOD"/>
      <xsd:enumeration value="ENVIRONMENT_PLANE_CHAOTIC_GOOD"/>
      <xsd:enumeration value="ENVIRONMENT_PLANE_ANY_EVIL"/>
      <xsd:enumeration value="ENVIRONMENT_PLANE_CHAOTIC_EVIL"/>
      <xsd:enumeration value="ENVIRONMENT_PLANE_AIR"/>
      <xsd:enumeration value="ENVIRONMENT_PLANE_FIRE"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="RPG_Character_Organization_Type">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ORGANIZATION_ANY"/>
      <xsd:enumeration value="ORGANIZATION_SOLITARY"/>
      <xsd:enumeration value="ORGANIZATION_PAIR"/>
      <xsd:enumeration value="ORGANIZATION_BROOD"/>
      <xsd:enumeration value="ORGANIZATION_CLUSTER"/>
      <xsd:enumeration value="ORGANIZATION_CLUTCH"/>
      <xsd:enumeration value="ORGANIZATION_PATCH"/>
      <xsd:enumeration value="ORGANIZATION_GANG"/>
      <xsd:enumeration value="ORGANIZATION_TEAM"/>
      <xsd:enumeration value="ORGANIZATION_SQUAD"/>
      <xsd:enumeration value="ORGANIZATION_PACK"/>
      <xsd:enumeration value="ORGANIZATION_COLONY"/>
      <xsd:enumeration value="ORGANIZATION_FLOCK"/>
      <xsd:enumeration value="ORGANIZATION_TRIBE"/>
      <xsd:enumeration value="ORGANIZATION_SLAVER"/>
      <xsd:enumeration value="ORGANIZATION_BAND"/>
      <xsd:enumeration value="ORGANIZATION_CLAN"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="RPG_Character_AlignmentCivic_Type">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ALIGNMENTCIVIC_LAWFUL"/>
      <xsd:enumeration value="ALIGNMENTCIVIC_NEUTRAL"/>
      <xsd:enumeration value="ALIGNMENTCIVIC_CHAOTIC"/>
      <xsd:enumeration value="ALIGNMENTCIVIC_ANY"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="RPG_Character_AlignmentEthic_Type">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ALIGNMENTETHIC_GOOD"/>
      <xsd:enumeration value="ALIGNMENTETHIC_NEUTRAL"/>
      <xsd:enumeration value="ALIGNMENTETHIC_EVIL"/>
      <xsd:enumeration value="ALIGNMENTETHIC_ANY"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="RPG_Character_Alignment_Type">
    <xsd:sequence>
      <xsd:element name="civic" type="RPG_Character_AlignmentCivic_Type" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="ethic" type="RPG_Character_AlignmentEthic_Type" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="RPG_Character_MonsterAdvancementStep_Type">
    <xsd:sequence>
      <xsd:element name="size" type="RPG_Character_Size_Type" minOccurs="1" maxOccurs="1"/>
<!--       <xsd:element name="range" type="rpg_chance_dice:RPG_Chance_ValueRange_Type" minOccurs="1" maxOccurs="1"/> -->
      <xsd:element name="range" type="RPG_Chance_ValueRange_Type" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="RPG_Character_MonsterAdvancement_Type">
    <xsd:sequence>
      <xsd:element name="step" type="RPG_Character_MonsterAdvancementStep_Type" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="RPG_Character_MonsterPropertiesXML_Type">
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="size" type="RPG_Character_Size_Type" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="type" type="RPG_Character_MonsterType_Type" minOccurs="1" maxOccurs="1"/>
<!--       <xsd:element name="hitDice" type="rpg_chance_dice:RPG_Chance_DiceRoll_Type" minOccurs="1" maxOccurs="1"/> -->
      <xsd:element name="hitDice" type="RPG_Chance_DiceRoll_Type" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="initiative" type="xsd:byte" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="speed" type="xsd:unsignedByte" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="armorClass" type="RPG_Character_MonsterArmorClass_Type" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="attack" type="RPG_Character_MonsterAttack_Type" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="space" type="xsd:unsignedByte" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="reach" type="xsd:unsignedByte" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="saves" type="RPG_Character_SavingThrowModifiers_Type" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="attributes" type="RPG_Character_Attributes_Type" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="skills" type="RPG_Character_Skills_Type" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="feats" type="RPG_Character_Feats_Type" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="environment" type="RPG_Character_Environment_Type" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="organization" type="RPG_Character_Organization_Type" minOccurs="1" maxOccurs="unbounded"/>
      <xsd:element name="challengeRating" type="xsd:unsignedByte" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="treasureModifier" type="xsd:unsignedByte" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="alignment" type="RPG_Character_Alignment_Type" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="advancement" type="RPG_Character_MonsterAdvancement_Type" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="levelAdjustment" type="xsd:unsignedByte" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="RPG_Character_MonsterDictionary_Type" id="skip0">
    <xsd:sequence>
      <xsd:element name="monster" type="RPG_Character_MonsterPropertiesXML_Type" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="RPG_Character_Dictionary_Type" id="skip1">
    <xsd:sequence>
      <xsd:element name="monsterDictionary" type="RPG_Character_MonsterDictionary_Type" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- xml instance document(s) will contain a dictionary of different types of monsters -->
  <xsd:element name="characterDictionary" type="RPG_Character_Dictionary_Type"/>

</xsd:schema>
